.center {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
  .panel-form{
    position: absolute;
  }
  .center.responsive {
    
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 400px;
    padding: 40px;
  }
  
 input{
    outline: 0;
    border-width: 0 0 2px;
    margin-right: 5px;
    width: 100%;
}

input:focus {
    border-color: #21354E;
}

.boton-circular{
    width:80px;
    height:80px;
    background-color:#21354E;
    margin: 5px;
    padding:10px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size:11px;
    line-height:32px;
    text-transform: uppercase;
    float:left;
  }
  .boton:hover{
    background-color:#BFCFDF;
  }
  .sumit-button{
    display: block;
    position: relative;
    bottom: 0;
    right: -45%;
  }
  span{
      font-size: 24px;
  }